.sr-only {
  position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow:hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.no-display {
  display: none;
}

.modal {
  display: grid;
  grid-template-columns: auto;
  max-width: 400px;
  border-radius: 5px;
}

.modal h2 {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}


.form input[type="text"] {
  width: 100%;
  outline: none;
  height: 25px;
  border: 2px solid #272727;
  border-radius: .2rem;
  padding: 1.4rem;
  font-size: 18px;
  align-self: center;
}


.form .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.form .btn-group a {
  cursor: pointer;
  padding: .6rem;
}

.form .btn-group .add{
  background: #04d361;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.form .btn-group .cancel {
  color: #181818;
  margin-right: 20px;
}

