* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --red: #E63946;
  --green: #04d361;
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 100%;

  overflow-x: hidden;
}

#container {
  padding-bottom: 1rem;
  min-height: 100%;
  position: relative;
  background: #181818;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2%; */
}

.header  h1 {
  font-size: 4rem;
  font-weight: 300;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.content .tasks {
  max-width: 1000px;
  min-width: 800px;
  width: 100%;
  border-radius: 10px;
  background: #293030c2;
  justify-self: center;
}

.content .tasks .task {
  display: flex;
  align-items: center;

  margin: 25px;
}


.tasks .empty-message{
  padding: 2rem;
  display:none;
  opacity: 0;
  z-index: -1;
}

.tasks .empty-message.active {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1
}

.tasks .empty-message h2 {
  font-size: 38px;
}

.tasks .empty-message .sub{
  font-size: 18px;
  font-weight: 400;
}

.tasks .empty-message .emoticon {
  font-size: 24px;
  margin-left: 5px;
  white-space: nowrap;
}


.tasks ul li {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 80%;
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.199);
}

@media(min-width: 600px) {
  .tasks ul li {
    min-width: 90%;
  }

  .content .tasks {
    padding: 10px;
  }

}

.icons-container {
  display: flex;
  align-items: center;
}

.icons-container .remove {
  margin-right: 10px;
}

.menu, .close {
  transition: 1s;
}

.tasks ul li .mark {
  color: white;
}

.tasks ul li .mark.done{
  color: var(--green);
}

.tasks .task .task-title {
  margin: 0 5px;
}

.task .remove {
  margin-left: 4px;
  opacity: .2;
  cursor: pointer;
  transition: .2s ease-out;
}

@media (min-width: 768px) {
  .task .remove:hover {
    opacity: 1
  }
}

.select-all-container .clear-all {
  float: right;
  padding: 1rem;
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.check-all-container .check-all {
  float: right;
  padding: .6rem 0;
  position: relative;
  right: 10px;
}

.actions{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #181b1b;
  position: absolute;
	bottom: 0;
} 

.actions .new-task {
  font-size: 28px;
  font-weight: 200;
  color: #fff;
  min-width: 100vw;
  text-align: center;
}


.modal-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.904);
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  padding: .8rem;

  z-index: 999;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal, .modal-edit {
  display: grid;
  grid-template-columns: auto;
  max-width: 400px;
  border-radius: 5px;
  background: #F8F8F8;
  color: #1d1d1d;
  width: 600px;
  padding: 2rem;
}

.modal-delete {
  min-width: 280px;
  background:#F8F8F8;
  color: black;

  border-radius: 8px;

  padding: 1.6rem;
}

#select-task{
  width: 100%;
  height: 30px;
  font-size: 20px;
  padding-left: 10%;

  background: #f2f2f3;
}
 

.modal-delete .alert {
  color: #1d1d1d;
  font-size: 17px;
}

.modal-delete .btn-group {
  margin-top: .8rem;
  height: 30px;
}

.modal-delete .btn-group .confirm {
  margin-left: 20px;
  width: 50%;
  color: white;

  font-weight: 400;

  background: #f03746f6;
  font-size: 18px;
  outline: none;
  border:none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-delete .btn-group .cancel-delete {
  color: black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.no-display {
  display: none;
}

.modal h2, .modal-edit h2 {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input[type="text"] {
  width: 100%;
  outline: none;
  height: 25px;
  border: 2px solid #272727;
  border-radius: 0.2rem;
  padding: 1.4rem;
  font-size: 18px;
  align-self: center;
}


.error-message {
  font-weight: 300;
  color: var(--red);
  margin-top: 10px;
}

.error-warning {
  border: 2px solid #e4404dc7 !important;
}

.form .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.form .btn-group a,
button {
  cursor: pointer;
  padding: 0.6rem;
}

.form .btn-group .add, .add-new-task {
  background: #181818;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 150px;
}

.form .btn-group .cancel {
  color: #181818;
  margin-right: 20px;
}

.modal-delete {
  max-width: 200px;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.no-display {
  display: none !important;
}
/* 
.done {
  color: var(--green);
}
 */
@media(max-width: 500px) {
  .header h1 {
     font-size: 2rem;
   }

   .content .tasks {
     max-width: 375px;
     min-width: 300px;

     margin: .4rem;
   }

   .tasks .empty-message h2 {
     font-size: 24px;
   }

   .tasks .empty-message .sub{
    font-size: 16px;
  }

  .tasks .empty-message .emoticon {
    font-size: 18px;
  }

  .tasks ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .task .remove{
    margin-left: 6px;
    width: 20px;
    opacity: .8;
  }

  .modal {
    margin: 0 .8rem;
  }
}

@media(max-width: 375px) {
  .tasks ul li {
    font-size: 14px;
  }

  .edit {
    display: none;
  }

}