* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --red: #E63946;
  --green: #04d361;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #1d1d1d;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.header  h1 {
  font-size: 4rem;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: center;
}


.content .tasks {
  max-width: 800px;
  /* min-height: 200px; */
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  background: #293030c2;
  justify-self: center;
}

.content .tasks .task {
  display: flex;
  align-items: center;
}

.content .tasks .mark {
  margin-right: 6px;
}

.content .tasks .status {
  margin-left: 6px;
}



.tasks .empty-message{
  padding: 1rem;
  display:none;
  opacity: 0;
  z-index: -1;
}

.tasks .empty-message.active {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1
}

.tasks .empty-message h2 {
  font-size: 38px;
}

.tasks .empty-message .sub{
  font-size: 18px;
  font-weight: 400;
}

.tasks .empty-message .emoticon {
  font-size: 24px;
  margin-left: 5px;
  white-space: nowrap;
}

.tasks .new-task {
  float: right;
  position: relative;
  top: 20px;
}

.tasks ul li {
  font-size: 24px;
  margin-bottom: 20px;
}

.tasks ul li .mark {
  color: white;
}

.task .remove{
  margin-right: 12px;
  opacity: .2;
  cursor: pointer;
}

.task .remove:hover {
  opacity: 1
}

.content .new-task {
  padding: 0.8rem;
  border-radius: 5px;
  background: #293030c2;
  color: #F8F8F8;
  font-size: 18px;
  transition: 0.1s ease-in;
}

.new-task:hover {
  color: #293030;
  background: #F8F8F8
}

.modal-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.904);
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}



.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: grid;
  grid-template-columns: auto;
  max-width: 400px;
  border-radius: 5px;
  background: #F8F8F8;
  color: #1d1d1d;
  width: 600px;
  padding: 2rem;
}

.modal-delete {
  min-width: 280px;
  background:#F8F8F8;
  color: black;

  border-radius: 8px;

  padding: 1.6rem;
}

.modal-delete .alert {
  color: #1d1d1d;
  font-size: 17px;
}

.modal-delete .btn-group {
  margin-top: .8rem;
  height: 30px;
}

.modal-delete .btn-group .confirm {
  margin-left: 20px;
  width: 50%;
  color: white;

  font-weight: 400;

  background: #f03746f6;
  font-size: 18px;
  outline: none;
  border:none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-delete .btn-group .cancel-delete {
  color: black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.no-display {
  display: none;
}

.modal h2 {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}


.form input[type="text"] {
  width: 100%;
  outline: none;
  height: 25px;
  border: 2px solid #272727;
  border-radius: 0.2rem;
  padding: 1.4rem;
  font-size: 18px;
  align-self: center;
}

.error-message {
  font-weight: 300;
  color: var(--red);
  margin-top: 10px;
}

.error-warning {
  border: 2px solid #e4404dc7 !important;
}

.form .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.form .btn-group a,
button {
  cursor: pointer;
  padding: 0.6rem;
}

.form .btn-group .add {
  background: #04d361;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.form .btn-group .cancel {
  color: #181818;
  margin-right: 20px;
}

.modal-delete {
  max-width: 200px;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.no-display {
  display: none !important;
}

.done {
  color: var(--green);
}

.expired {
  color: var(--red);
}
